.filter {
  position: relative;
  max-width: 340px;

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }

  &__fields-list {
    margin-bottom: 40px;
  }

  &__field {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }

  &__flex {
    display: flex;
    gap: 10px;

    &_column {
      flex-direction: column;
    }
  }

  &__input {
    width: 165px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid $color-primary;

    &_select {
      width: 100%;
      color: $color-grey;
      background-color: #fff;
      border: 1px solid $color-primary;
    }

    &::placeholder {
      color: $color-grey;
    }
  }

  &__label {
    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  &__span {
    display: inline-block;
    position: relative;
    padding-left: 25px;
  }

  &__span:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 1px;
    border: 1px solid $color-primary;
  }

  &__checkbox:checked + &__span:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 2px;
    width: 16px;
    height: 6px;
    border-left: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    transform: rotate(-45deg);
  }

  &__apply {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: $color-primary;
    color: $color-secondary;
    padding: 8px 20px;
  }

  &__reset {
    position: absolute;
    top: 5px;
    right: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-grey;
    background-color: transparent;
    border: none;
  }
}
